p.Anchor
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.Anchor_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.Anchor_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.BS_002eBookSubtitle
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.BS_002eBookSubtitle_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.BS_002eBookSubtitle_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

h2.BT_002eBookTitle
{
  color: #003366;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 170.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.BT_002eBookTitle_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 170.0pt;
}

.BT_002eBookTitle_inner
{
  color: #003366;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.BV_002eBookVersion
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 30.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.BV_002eBookVersion_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0em;
  margin-top: 30.0pt;
}

.BV_002eBookVersion_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.Copyright
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 75%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.Copyright_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.Copyright_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 75%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

h2.CopyrightHead
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.CopyrightHead_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.CopyrightHead_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.FL_002eLeftFooter
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.FL_002eLeftFooter_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.FL_002eLeftFooter_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TbT_002eTblText
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.TbT_002eTblText_outer
{
  margin-bottom: 0em;
  margin-right: 0em;
  margin-top: 0em;
}

.TbT_002eTblText_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.TT_002eTitlePageTop
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 18.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.TT_002eTitlePageTop_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 18.0pt;
}

.TT_002eTitlePageTop_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.ac_Author_comment
{
  color: #8c19ff;
  font-family: Verdana;
  font-size: 10.0pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Trademark
{
  color: #000000;
  font-family: Verdana;
  font-size: 24.0pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: super;
}

table.Box
{
  border-bottom-width: 1pt;
  border-left-width: 1pt;
  border-right-width: 1pt;
  border-top-width: 1pt;
  margin-bottom: 2.0pt;
  margin-left: 99.0pt;
  margin-right: 7.7443pt;
  margin-top: 6.0pt;
  padding-bottom: 2pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 4pt;
  text-align: left;
}

table.Wide
{
  border-bottom-color: #CCCCCC;
  border-bottom-width: 1pt;
  border-left-color: #CCCCCC;
  border-left-width: 1pt;
  border-right-color: #CCCCCC;
  border-right-width: 1pt;
  border-top-color: #CCCCCC;
  border-top-width: 1pt;
  margin-bottom: 2.0pt;
  margin-left: 1.5pt;
  margin-right: 7.7443pt;
  margin-top: 6.0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: left;
}

table.Lined
{
  border-bottom-color: #CCCCCC;
  border-bottom-width: 1pt;
  border-left-color: #CCCCCC;
  border-left-width: 1pt;
  border-right-color: #CCCCCC;
  border-right-width: 1pt;
  border-top-color: #CCCCCC;
  border-top-width: 1pt;
  margin-bottom: 2.0pt;
  margin-left: 99.0pt;
  margin-right: 7.7443pt;
  margin-top: 6.0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: left;
}

table.Horizontal_All
{
  border-bottom-color: #CCCCCC;
  border-bottom-width: 1pt;
  border-left-color: #CCCCCC;
  border-left-width: 1pt;
  border-right-color: #CCCCCC;
  border-right-width: 1pt;
  border-top-color: #CCCCCC;
  border-top-width: 1pt;
  margin-bottom: 2.0pt;
  margin-left: 99.0pt;
  margin-right: 7.7443pt;
  margin-top: 6.0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: left;
}

table.Horizontal_Open
{
  border-bottom-color: #CCCCCC;
  border-bottom-width: 1pt;
  border-left-color: #CCCCCC;
  border-left-width: 1pt;
  border-right-color: #CCCCCC;
  border-right-width: 1pt;
  border-top-color: #CCCCCC;
  border-top-width: 1pt;
  margin-bottom: 10.0pt;
  margin-left: 99.0pt;
  margin-right: 126.0pt;
  margin-top: 10.0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: left;
}

img.Default
{
  border-bottom-width: 0pt;
  border-left-width: 0pt;
  border-right-width: 0pt;
  border-top-width: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
}

